*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}



#app{
    width: 100%;
    height: 100%; 
}

#position {
    background-color: #f1f1f1;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 9;
}